@using PowerSite
@using PowerSite.Actions
@using PowerSite.DataModel
@inherits  RazorEngine.Templating.TemplateBase<Document>
@{
	Layout = "BlogLayout.cshtml";
	ViewBag.Author = Model.Author.Name;
	ViewBag.Title = Model.Title + " - " + Site.Current.Title;
}

<div class="blog-post">
	<h2 class="blog-post-title">@Model.Title</h2>
	<p class="blog-post-meta">
		<span class="blog-post-time">@Model.DateString</span> by <a class="blog-post-author" href="#">@Model.Author.Name</a>
	</p>
	@Raw(Model.RenderedContent)
	<div class="text-right">
		Tagged:
		<ul class="list-inline label">
			@foreach (var tag in Model.Tags)
			{
				<li><a href="/blog/tags/@tag.Slugify()/">@tag</a></li>
			}
		</ul>
	</div>
</div>
